<h1 class="text-white"><%=@genre.name%></h1>

<h3 class="text-white"> This genre is introduced by
  <%=link_to @genre.artist.name, artist_path(@genre.artist), class: 'text-white' %> </h3> <br><br>
<%= button_to "All genres", genres_path, :method => :get, class: 'btn btn-success'%> <br>
