<h1 class="text-white" ><%=@artist.name%></h1>
    
<table style="width:60%" class="table table-dark table-striped">
    <thead>
        <tr>
            <th style="width:90%" scope="col">Album</th>
            <th style="width:10%" scope="col">Year</th>
        </tr>
    </thead>
    <tbody>
        <%@albums.each do |album|%>
            <tr>
                <td class="text-white"><%=link_to album.name, album, class: 'text-white'%> </td>
                <td><%=album.release_year%> </td>
            </tr>
        <%end%> 
    </tbody>
</table>

<%if @artist.bio%>
    <h3 class="text-white" >Background:</h3>
    <div class="text-white">
    <%=@artist.bio%>
    </div>
<%end%>