<h1 class="text-white" >Songs by <%=@artist.name%></h1>
    
<table style="width:60%" class="table table-dark table-striped">
    <thead>
        <tr>
            <th style="width:50%" scope="col"> Name</th>
            <th style="width:40%" scope="col">Album</th>
            <th style="width:10%" scope="col">Year</th>
        </tr>
    </thead>
    <tbody>
        <%@songs.each do |song|%>
            <tr>
                <td class="text-white"><%=link_to song.name, song, class: 'text-white'%> </td>
                <td class="text-white"><%=link_to song.album.name, album_path(song.album), class: 'text-white'%></td>
                <td><%=song.album.release_year%> </td>
            </tr>
        <%end%> 
    </tbody>
</table>