<h1 class="text-white">Hi <%= @user.username %>!</h1> <br>

<h3 class="text-white">View Your <%= link_to "Playlists", playlists_path, class: 'text-white'%></h3>
<!--<%#= render partial: "playlists/playlists", locals: {playable: @user}%> <br>-->