<h1><%=@album.name%>, <%=@album.release_year%></h1> 

by <%=link_to @album.artist.name, artist_path(@album.artist)%><br>
<h2> Songs: </h2>
<%@songs.each do |song|%>
<%=link_to song.name, song%> 
<%end%>