// Place all the styles related to the songs controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.search-line {
    background: transparent;
    border: 0;
    border-bottom: 1px solid grey;
    color: white;
    width: 100%;
}