<h1><%= @playlist.name %></h1>

<% @playlist.songs.each do |song| %>
    <div class="well">
        <h5>Song: <%= link_to song.name, song %></h5>
            <ul>
                <li>Artist: <%= link_to song.album.artist.name, artist_path(song.album.artist) %>
                <li>Album: <%= link_to song.album.name, album_path(song.album) %>
            </ul>
    </div>
<% end %>
    