<footer class="footer bg-dark">
    <div class="container">
        <span class="text-light">© 2021 Alena Trushnikova |<a href=<%="https://github.com/AlenaTrushnikova"%>>gthb</a>, <a href=<%="https://www.linkedin.com/in/atrushnikova/"%>>lnkd</a>| and Mitchell Gilbert |<a href=<%="https://github.com/MitchyG07"%>>gthb</a>, <a href=<%="https://www.linkedin.com/in/mitchell-gilbert-081794a0/"%>>lnkd</a>| </span> 
    </div>
</footer>